<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <title>Add</title>
    <!--
                    <link href="css/style.css" rel='stylesheet' type='text/css' />
                -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="teachers,tree,Login ,Sign up ,Registration " . />
    <meta name="description" content="this is teached-tree system login performence">
    <meta name="robots" content="none">
    <!-- mobile devices surport-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="handheldfriendly" content="true">
    <!--per 300 seconds refresh the web-->
    <meta http-equiv="refresh" content="300">
    <link href="../static/css/add.css" rel="stylesheet">
    <script type="text/java script" src="../static/js/register.js"></script>
</head>

<body>
    <div id="top">

    </div>
    <div id="surround">

        <!-- 获得get_flashed_messages的错误消息 -->
        
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <script>
            $(document).ready(function () {
                $("#myM").modal("show")
            })
        </script>

        <div class="modal fade " id="myM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- 模版内容 -->
                    <div class="modal-header">
                        <!-- 决定标题和右上角关闭 -->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <!-- 关闭 -->
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div><label> {{ messages }} </label></div>
                    </div>

                    <!-- 返回地址 -->
                    <div class="modal-footer">
                        <!-- a用于定义超链接,URL:统一资源定位符,互联网上得到的资源的位置和访问方法的一种简洁的表示,用于网络 -->
                        <!-- 主机作为服务器,相当于是网络的一部分,URL地址=主机地址+内部资源定位;  -->
                        <!-- <p>绝对路径 URL: <a href="//www.runoob.com/">菜鸟教程</a></p>
                            <p>相对路径 URL: <a href="tag_a.php">a 标签</a></p>  -->
                        <a href="./">
                            <button>back</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endwith %}

        <div id="registerCenter">
            <div>
                <h1><strong><big><span>Add Your Teacher Or Student</span></big></strong></h1>
            </div>
            <div>
                <form method="POST" action="">
                    <!--there will be default until back-end is success-->
                    {{ form.csrf_token }}
                    <p class="yellow"><label><span>ACCOUNT </span> :<input name="account" aria-label="Account"
                                type="text" placeholder="input  his or her acount"></label> </p>
{#
                    {{ temp_stu.account }}<br>
                    {{ temp_stu.teacher }}<br>
                    {{ temp_tea.account }}<br>
                    {{ temp_tea.student }}<br>
{#
                    {{ message.startTime }}                   #}
                    <p class="sex">
                        <label for="T_or_S"><span id="selectsex">T or S</span> </label>
                        <input type="radio" name="T_or_S" value="teacher" checked>Teacher
                        <input type="radio" name="T_or_S" value="student">Student
                    </p>
                    
                    <p><label class="checkbox"><input type="checkbox" id="rule" checked><strong><big><span>I agree with
                                        the academic integrity clause </span></big></strong></label>
                        <div class="submit"><input type="submit" name="submit" onclick="myFunction()" value="ADD"></div>
                </form>
                <!-- there should be wirtten a button.if checkbox is checked,button  will be valid,or invalid-->
            </div>

            <noscript>

                <p><strong>本页面需要浏览器支持（启用）javascript脚本。</strong></p>

                </nosript>
</body>

</html>