<!DOCTYPE html>
<html>
    
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<title>Teached-Tree System</title>
<!--
    <link href="css/style.css" rel='stylesheet' type='text/css' />
-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="teachers,tree,Login ,Sign up ,Registration "./>
<meta name="description" content="this is teached-tree system login performence">
<meta name="robots" content="none">
<!-- mobile devices surport-->
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="handheldfriendly" content="true">
<!--per 300 seconds refresh the web-->
<meta http-equiv="refresh" content="300">
<link href="../static/css/homepage-css.css" rel="stylesheet">

        
<script src="../static/js/homepage.js"></script>
 
</head>
<body id="body1">
    <header>
        <h1><strong><!--<big>teach-tree system</big>-->teach-tree system </strong></h1>
         <div id="toptop">
         <form id="log" method="POST">
        
           {% if current_user.is_authenticated %} 　　
           　
            <input type="submit" name="submit" onclick="myFunction()" value="Logout">
            　{% else %}
       　   <input type="submit" name="submit" onclick="transform(5)" value="Login">
            {% endif %} 
            
           <!--<input type="submit" name="submit" onclick="transform(5)" value="Login">-->
         </form>
    </div>
   
        
        <nav>
                <ul  role="menuitem" class="ul1">
                    <!--using role can help low vision people to use this website-->
                        <li role="menuitem" onclick="transform(1)"><span class="red">insert</span> </li>
                        <li role="menuitem" onclick="transform(2)"><span class="yellow">delete</span></li>
                        <li role="menuitem" onclick="transform(3)"><span class="blue">update</span></li>
                        <li role="menuitem" onclick="transform(4)"><span class="green">select </span></li>
        </nav>  
    </header>
    <!-- i think we can devide two section.one is for display teached-tree and the other is
    for insert ,delete,update,select -->
    <section id="leftSection">
       
            
            
        
        <h2>Teacher Tree</h2>
        <!-- there should be a empty field to show the operating results -->
        <table id="teacherTreeTable">
            <!--<caption>Teacher-Information-Table</caption>-->
            <!-- <tr>
                <td>
                    a
                </td>
            </tr>
            <tr>
                <td>
                   b 
                </td>
            </tr>
            <tr>
                <td>
                   c 
                </td>
            </tr>-->
            
            <thead>
                <tr>
                    <th>
                        Teachers
                    </th>
                </tr>
            </thead>
            
        <tobody>
           {% for teacher in teachers %}
                <tr><td>{{ teacher.name }}+"--"+{{ teacher.start_time }}+"to"+{{ teacher.end_time }}</td></tr>
            {%endfor%}

            {% for message in get_flashed_messages() %}
                    {{ messages }}
           {% endfor %}

            {{ count }}
        </tobody>
       </table>
    </section>
    <section id="rightSection">
        <h2>Student Tree</h2>
        <!-- there should be a field to show the current tree-->
            <table id="studentTreeTable">
               <!--<Caption>Students Information Table</Caption>--> 
               <!--<tr>
                    <td>
                        d
                    </td>
                </tr>
                <tr>
                    <td>
                        e
                    </td>
                </tr>
                <tr>
                    <td>
                        f
                    </td>
                </tr>-->
                <thead>
                    <tr>
                        <th>
                            Students
                        </th>
                    </tr>
                </thead>
            
            <tobody>
                {%for student in students%}
                    <tr><td>{{ student.name }}"--"+{{ student.start_time }}+"to"+{{ student.end_time }}</td></tr>
                {%endfor%}
            </tobody>
        </table>
    </section>
    <!--<div id="clear">

    </div>-->
    <aside>
      
        <article>
            
            <!-- if readme file or words too large,open a new web-->
            <p class="tip">
                <br>
                    <h4><span class="red">The System Using Tips</span></h4>
                    <span class="red">Thanks for using our work.</span>
                    <span class="red">If you want to accomplish</span>
                    <span class="blue">to add, delete, update, </span>
                    <span class="blue">or select your teacher or</span>
                    <span class="yellow">student,please click cor-</span>
                    <span class="yellow">resopnding button at the </span>
                    <span class="red">top.If you want to know </span>
                    <span class="red">more detailed info about</span>
                    <span class="blue">above mentioned,please </span>
                    <span class="blue">please click the READ ME</span>
                    <span class="yellow">button at the bottom. </span>
                    <span class="yellow">Thank you for your using</span>
                    <span class="green">again. It's our pleasure </span>
                    <span class="green">if you can reconmmend this</span>
                    <span class="green">to your friends! </span>

            </p>
            <header ><a  href="README.html" target="_blank"><div id="readme">README</div></a></header>
            <footer>
                <p ><div id="time">published time:</div><time datetime="2019-03-14"><div id="time1">2019.3.14</div></time></p>
                
            </footer>
        </article>
    </aside>
    <footer id="bottom">
            <p id="copyright"><div id="copyrightWords">manufacture by XZJ-XZ. &nbsp&nbsp&nbsp&nbsp&nbspAll rights reserved</div><!--&nbsp is blank space--></p>
            
        </footer>
</html>